{% extends "base.html" %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="inline-flex items-center gap-2 px-4 py-2 rounded-xl bg-gradient-to-r from-blue-500 to-indigo-600 text-white font-medium shadow hover:shadow-lg transition mb-4">
  ⬅ Назад
</a>

<div class="bg-white shadow-xl p-6 rounded-xl max-w-md mx-auto">
  <div class="h-[60vh] flex items-center justify-center mb-4">
    <img src="{{ config_url|slice:':28' }}{{ product.imageUrl }}" class="max-h-full max-w-full object-contain rounded bg-white">
  </div>
  <div class="text-center">
    <h1 class="text-xl font-semibold mb-2">{{ product.name }}</h1>
    <p class="text-green-600 font-extrabold text-2xl">{{ price }} сум</p>
  </div>
</div>
{% endblock %}
